@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

:root {
    --sl-content-width: 72rem;
    --sl-text-xs: 1rem;
    --sl-text-sm: 1.2rem;
    --sl-text-base: 1.2rem;
    --sl-text-lg: 1.52rem;
    --sl-text-xl: 1.3rem;
    --sl-text-2xl: 1.42rem;
    --sl-text-3xl: 2rem;
    --sl-text-4xl: 2.3rem;
    --sl-text-5xl: 3.6rem;
    --sl-text-6xl: 4rem;
}

p, ul, ol {
    @apply text-xl;
}
